<% provide :title, "Home" %>
<div class="center hero-unit">
  <h1>Welcome to the Demo App</h1>


  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
